html {
    height: 100%;
}
body {
    min-height: 100%;
    font-family: "Muli", sans-serif;
}
h1 {
    font-weight: 700;
}
.landing-container {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.landing-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing-row-search {
    margin-top: 50px;
}

.trip-row-phone {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.trip-title {
    margin-bottom: 50px;
}

.trip-subtitle {
    margin-top: 100px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    color: #b2b2b2;
}

.city-img {
    max-width: 100%;
}

.spread {
    margin-top: 140px;
}

.input-container {
    color: #cecece;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.04),
        0 16px 24px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px #dedede;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.input-container input {
    border: 0px;
    padding: 0px !important;
    text-align: center;
    border-radius: 0.25rem !important;
}
.input-container input::placeholder {
    text-align: center;
    color: #cecece;
}

@media only screen and (max-width: 768px) {
    .phone-container {
        width: 100% !important;
        max-width: 100% !important;
    }

    .viewDiv {
        height: 400px !important;
    }

    #map {
        height: 400px !important;
    }
}
@media only screen and (min-width: 768px) {
    .phone-container {
        width: 100% !important;
        max-width: 480px !important;
    }
    .landing-cta-col {
        padding-left: 150px;
    }
}

.phone {
    text-align: left !important;
}

.phone::placeholder {
    text-align: left !important;
}

.input-container button {
    display: none;
}

.form-control:focus {
    border: 0px !important;
    outline: 0px !important;
    box-shadow: none !important;
}

input[readonly] {
    background-color: #ffffff !important;
}

.input-container .row {
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.input-button {
    width: 100%;
    min-width: 123px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.04),
        0 16px 24px 0 rgba(0, 0, 0, 0.06);
    background-color: #1b5c6a;
}

.input-button:hover {
    background-color: #216e80;
}

.input-button:active {
    background-color: #216e80 !important;
    border-color: #216e80 !important;
}
.input-button:focus {
    background-color: #216e80 !important;
    border-color: #216e80 !important;
}

.input-container p {
    margin-bottom: 0px;
}
.hero-img {
    height: 300px;
    max-width: 100%;
}

.viewDiv {
    height: 700px;
    width: 100%;
    margin-top: 35px !important;
    margin-bottom: 85px !important;
    background: black;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.04),
        0 16px 24px 0 rgba(0, 0, 0, 0.04), 0 24px 32px 0 rgba(0, 0, 0, 0.04);
}

.city-data {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.data-number {
    color: #1b5c6a;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}

.data-title {
    color: #3f3d56;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.data-subtitle {
    font-size: 15px;
    font-weight: normal;
    color: #b2b2b2;
    text-align: center;
}
.data-container {
    padding: 33px;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.04),
        0 16px 24px 0 rgba(0, 0, 0, 0.04), 0 24px 32px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #dedede;
    background-color: #ffffff;
    margin-bottom: 15px;
}

.ai-info {
    max-width: 800px;
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    color: #b2b2b2;
    font-weight: normal;
}

.hospital-row {
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hospital-row h4 {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}

.hospital-row p {
    font-size: 20px;
    margin-top: 20px;
}

.hospital-row img {
    max-width: 100%;
}

.hospital-data {
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: 25px;
    margin-right: 25px;
}

.mail-row {
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-row h4 {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}

.mail-row p {
    font-size: 20px;
    margin-top: 20px;
}

.mail-row img {
    max-width: 100%;
}

.mail-row select {
    margin-top: 35px;
    height: 50px;
}

.letter {
    padding: 60px;
    border-radius: 5px;
    margin-bottom: 250px;
    margin-top: 150px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.04),
        0 16px 24px 0 rgba(0, 0, 0, 0.04), 0 24px 32px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #dedede;
}

.letter .recipient-container input {
    width: 275px;
    margin-top: -5px;
    max-width: 100%;
    font-size: 25px;
    text-align: left;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #3f3d56 !important;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 0px;
}

.letter .recipient-container .input-group-prepend {
    margin-right: 0px;
    font-size: 36px;
    color: #3f3d56;
    font-weight: bold;
}

.letter .recipient-container input:focus {
    border-style: solid !important;
    border-width: 0px 0px 3px 0px !important;
    border-color: #3f3d56 !important;
}

.recipient-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.letter-text {
    margin-top: 65px;
}

.input-container-no {
    color: #cecece;
    border-radius: 5px;
    border: solid 1px #dedede;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.input-container-no input {
    border: 0px;
    padding: 0px !important;
    text-align: center;
    border-radius: 0.25rem !important;
}
.input-container-no input::placeholder {
    text-align: center;
    color: #cecece;
}

#map {
    height: 700px;
    margin-top: 35px;
}
